absl-py==1.1.0
accelerate==0.10.0
aiohttp==3.8.1
aiosignal==1.2.0
ale-py==0.7.5
async-timeout==4.0.2
attrs==21.4.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
black==22.6.0
certifi==2022.6.15
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656783163977/work
charset-normalizer==2.1.0
chex==0.1.3
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
commonmark==0.9.1
cycler==0.11.0
Cython==0.29.30
d4rl @ git+https://github.com/rail-berkeley/d4rl@d842aa194b416e564e54b0730d9f934e3e32f854
datasets==2.3.2
dill==0.3.5.1
dm-control==1.0.3.post1
dm-env==1.5
dm-tree==0.1.7
docker-pycreds==0.4.0
einops==0.4.1
etils==0.6.0
fasteners==0.17.3
filelock==3.7.1
flatbuffers==2.0
flax==0.5.2
fonttools==4.34.3
frozenlist==1.3.0
fsspec==2022.5.0
functorch @ git+https://github.com/pytorch/functorch.git@76178743084277cf6d7cac752279f905cdd60e13
-e git+ssh://git@gitlab.com/besiktas/generalist.git@40eba14c37d05da94f9fe2019b677d72f1a4971d#egg=generalist
gitdb==4.0.9
GitPython==3.1.27
glfw==2.5.3
gym==0.23.1
gym-notices==0.0.7
h5py==3.7.0
huggingface-hub==0.8.1
idna==3.3
imageio==2.19.3
importlib-resources==5.8.0
jax==0.3.14
jaxlib==0.3.14
kiwisolver==1.4.3
kmeans-pytorch==0.3
labmaze==1.0.5
lxml==4.9.1
matplotlib==3.5.2
mjrl @ git+https://github.com/aravindr93/mjrl@3871d93763d3b49c4741e6daeaebbc605fe140dc
msgpack==1.0.4
mujoco==2.2.0
mujoco-py==2.1.2.14
multidict==6.0.2
multiprocess==0.70.13
mypy-extensions==0.4.3
ninja==1.10.2.3
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1655989026689/work
opt-einsum==3.3.0
optax==0.1.2
packaging==21.3
pandas==1.4.3
pathspec==0.9.0
pathtools==0.1.2
Pillow==9.2.0
platformdirs==2.5.2
promise==2.3
protobuf==3.20.1
psutil==5.9.1
pyarrow==8.0.0
pybullet @ file:///Users/runner/miniforge3/conda-bld/bullet_1655702818125/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pygame==2.1.0
Pygments==2.12.0
PyOpenGL==3.1.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.6.2
requests==2.28.1
responses==0.18.0
rich==11.2.0
scipy==1.8.1
sentencepiece==0.1.96
sentry-sdk==1.6.0
setproctitle==1.2.3
shortuuid==1.0.9
six==1.16.0
smmap==5.0.0
termcolor==1.1.0
tokenizers==0.12.1
tomli==2.0.1
toolz==0.11.2
torch==1.13.0.dev20220707
torch-semiring-einsum==1.0.0
torchaudio==0.14.0.dev20220603
torchvision==0.13.0
tqdm==4.64.0
transformers==4.20.1
typing_extensions==4.3.0
urllib3==1.26.9
wandb==0.12.21
xxhash==3.0.0
yarl==1.7.2
zipp==3.8.0
